---
layout: default
title: Home
---

<section class="min-h-screen">
  <!-- Landing -->
  {% include home/landing_section.html %}
  <!-- Landing -->
</section>

<!-- Featured Publications -->
{% capture featured_publications %}
<div class="flex flex-col gap-5">
  {% assign featured_publications = site.data.publications | where: "featured", true %}
  {% for publication in featured_publications %}
  {% assign publication_index = forloop.index %}
  {% include shared/publication_card.html publication=publication index=publication_index featured=true %}
  {% endfor %}
</div>
{% endcapture %}

{% include shared/page_section.html title="Featured Publications" content=featured_publications%}
<!-- Featured Publications -->