{% capture class %}
{% if include.featured %}
w-full lg:flex lg:flex-1
{% else %}
w-full md:w-auto max-w-sm
{% endif %}
{% endcapture %}

{% assign value = include.post_index | modulo:2 %}
{% capture inner_class %}
{% if include.featured %}
{% if value == 0 %}
lg:flex-row-reverse justify-between
{% else %}
lg:flex-row justify-between
{% endif %}
{% else %}
flex-col
{% endif %}
{% endcapture %}



{% capture img_class %}
{% if include.featured %}
{% if value == 0 %}
lg:w-1/2 lg:h-full lg:rounded-none lg:rounded-r-lg
{% else %}
lg:w-1/2 lg:h-full lg:rounded-none lg:rounded-l-lg
{% endif %}
{% endif %}
{% endcapture %}



<div class="{{ class }}  bg-gray-50 dark:bg-black/20 rounded shadow">
    <div class="flex flex-col {{ inner_class }} w-full h-full  items-center">
        <!-- Post Image -->
        <img class="object-cover w-full h-48 rounded-t-lg {{ img_class }}" src="{{ include.post.photo }}"
            alt="{{ include.post.title }}">
        <!-- Post Image -->

        <!-- Post Details -->
        <div class="w-full h-full flex flex-col justify-between p-4">
            <!-- Time To Read & Date -->
            <div class="flex items-center justify-between mb-4">
                <span class="text-sm text-gray-600 dark:text-gray-400">
                    {% assign words = include.content | strip_html | number_of_words %}
                    {% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} </span>


                        <span class="text-sm text-gray-600 dark:text-gray-400">
                            {{ include.post.date | date_to_long_string: "ordinal", "US" }}
                        </span>
            </div>
            <!-- Time To Read & Date -->

            <!-- Title -->
            <a href="{{ include.post.url }}"
                class="my-6 font-display text-3xl text-center text-black dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-100">
                {{ include.post.title }}
            </a>
            <!-- Title -->

            <!-- Excerpt -->
            <p
                class="text-justify leading-relaxed tracking-wider m-4 text-sm text-gray-700 dark:text-gray-300 text-ellipsis">
                {{ include.post.excerpt | truncatewords: 50 }}
            </p>
            <!-- Excerpt -->

            <!-- Tags -->
            <div class="flex flex-row flex-wrap gap-3 justify-center items-center mt-4">
                {% for tag in include.post.tags %}
                <span class="text-sm text-gray-600 dark:text-gray-400">
                    {{ tag }}
                </span>
                {% endfor %}
            </div>
            <!-- Tags -->
        </div>
        <!-- Post Details -->
    </div>
</div>