---
---


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-variant-ligatures: none;
}

.profile-clip-path {
    border-top-right-radius: 100% 75%;
    border-top-left-radius: 100% 75%;
    border-bottom-left-radius: 100% 75%;
    border-bottom-right-radius: 100% 75%;
}

.navlink {
    @apply inline-flex font-normal text-sm py-2 px-4 md:py-0 md:px-2 hover:bg-gray-100 md:hover:bg-transparent md:hover:underline text-black dark:text-gray-300 hover:text-gray-700 dark:hover:text-black md:dark:hover:text-gray-100 transition-all;
}
.navlink-active {
    @apply bg-gray-100 text-black dark:text-black hover:bg-gray-300 md:bg-inherit md:text-inherit md:dark:text-inherit md:dark:hover:bg-inherit md:underline;
}

.highlight {
    @apply rounded;
}

.katex {
    @apply tracking-wider;
}

