---
---

@tailwind base;
@tailwind components;
@tailwind utilities;


.profile-clip-path {
    border-top-right-radius: 100% 75%;
    border-top-left-radius: 100% 75%;
    border-bottom-left-radius: 100% 75%;
    border-bottom-right-radius: 100% 75%;
}

.navlink {
    @apply inline-flex font-normal text-sm py-2 px-4 md:py-0 md:px-2 hover:bg-gray-100 md:hover:bg-transparent md:hover:underline dark:hover:text-black md:dark:hover:text-inherit transition-all;
}
.navlink-active {
    @apply bg-gray-100 dark:text-black dark:hover:bg-smoky-black dark:hover:text-gray-300 md:bg-transparent md:underline;
}