<div
    class="flex flex-col justify-between w-full max-w-3xl mx-auto px-8 py-4 bg-gray-50 dark:bg-black/20 rounded shadow {{ include.class }}">
    <!-- Journal & Date -->
    <div class="flex items-center justify-between mb-4">
        <span class="text-sm text-gray-600 dark:text-gray-400">{{ include.publication.journal }}</span>
        <span class="text-sm text-gray-600 dark:text-gray-400">{{ include.publication.date | date_to_long_string:
            "ordinal", "US" }}</span>
    </div>
    <!-- Journal & Date -->

    <!-- Links -->
    <div class="flex flex-row gap-3 justify-center items-center">
        {% for link in include.publication.links %}
        <a href="{{ link.link }}"
            class="text-sm  text-justify hover:underline text-black dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-100">
            {{ link.name }}
        </a>
        {% endfor %}
    </div>
    <!-- Links -->

    <!-- Title -->
    <a href="{{ include.publication.link }}"
        class="my-6 font-display text-3xl text-center text-black dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-100">
        {{ include.publication.title }}
    </a>
    <!-- Title -->

    <!-- Authors -->
    <div class="flex flex-row flex-wrap gap-3 justify-center items-center">
        {% for author in include.publication.authors %}
        <div class="flex flex-col items-center">
            <p class="text-sm text-gray-600 dark:text-gray-400 leading-tight">
                {{ author.name }} - {{ author.affiliation }}
            </p>
            <a href="mailto:{{ authror.email }}"
                class="text-sm leading-6 text-justify hover:underline text-black dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-100">
                {{ author.email }}
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- Authors -->

    <!-- Abstract -->
    <p class="text-justify leading-relaxed tracking-wide m-4 text-sm text-gray-700 dark:text-gray-300 text-ellipsis">
        {{ include.publication.abstract | truncatewords: 50 }}
    </p>
    <!-- Abstract -->

    <!-- Categories -->
    <div class="flex flex-row flex-wrap gap-3 justify-center items-center">
        {% for category in include.publication.categories %}
        <span class="text-sm text-gray-600 dark:text-gray-400">
            {{ category }}
        </span>
        {% endfor %}
    </div>
    <!-- Categories -->
</div>