<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}" class="scroll-smooth">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@400;500;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <!-- Google Fonts -->

  <!-- Boostrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <!-- Boostrap Icons -->

  <!-- JS -->
  <script defer src="{{ "/assets/js/main.js" | relative_url }}"></script>
  <!-- JS -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <!-- CSS -->

  {% if page.collection == "posts" %}
  <!-- Syntax Highlighting -->
  <link rel="stylesheet" href="{{ "/assets/css/syntax_highlighting.css" | relative_url }}">
  <!-- Syntax Highlighting -->
  
  <!-- KaTeX CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css"
    integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous">
  <!-- KaTeX CSS-->

  <!-- KaTeX JS-->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"
    integrity="sha384-X/XCfMm41VSsqRNQgDerQczD69XqmjOOOwYQvr/uuC+j4OPoNhVgjdGFwhvN02Ja"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js"
    integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
  <!-- KaTeX JS-->
  {% endif %}


  <!-- Plugins -->
  {% feed_meta %}
  {% seo %}
  <!-- Plugins -->

</head>

<body class="dark:bg-smoky-black dark:text-gray-300 transition-colors">
  <main class="min-h-screen">
    <!-- Navbar -->
    {% include layout/navbar.html %}
    <!-- Navbar -->

    <!-- Main Content -->
    {{ content }}
    <!-- Main Content -->
  </main>

  <!-- Footer -->
  {% include layout/footer.html %}
  <!-- Footer -->
</body>

</html>