---
layout: default
---

<div class="mx-auto p-4 sm:px-8 md:px-16">
    <div class="w-full flex">
        <section class="hidden sticky h-screen top-1/3 lg:block my-16 p-2">
            <hr class="mb-4 border-russet/10">
            <h4 class="mb-2 font-semibold">Table of Contents</h4>
            {% assign markup = page.content | remove: page.excerpt %}
            {% include toc.html html=markup class="flex.flex-col.list-decimal.py-4."
            item_class="my-1.text-sm.font-medium.hover:underline"%}
            <hr class="mb-4 border-russet/10">
        </section>
        <div class="mx-auto w-full max-w-3xl mb-4">
            <!-- Header -->
            <div class="mx-auto w-full max-w-2xl mb-4">
                <!-- Category -->
                <span
                    class="w-min mb-2 text-xs font-medium bg-russet/10 text-russet py-0.5 px-2 rounded-full capitalize">
                    {{ page.category }}
                </span>
                <!-- Category -->

                <!-- Title -->
                <h1 class="font-semibold mb-4">{{ page.title }}</h1>
                <!-- Title -->

                <!-- Excerpt -->
                <p class="mb-8 text-gray-700 dark:text-gray-300 text-justify">{{ page.excerpt | strip_html }}</p>
                <!-- Excerpt -->

                <hr class="mb-4 border-russet/10">

                <!-- Tags -->
                <span class="flex items-center mb-2 text-sm text-gray-700 dark:text-gray-300">
                    <i class="bi bi-tags mr-2"></i>
                    {% for tag in page.tags %}
                    <span class="mr-2 ">{{ tag }}</span>
                    {% endfor %}
                </span>
                <!-- Tags -->

                <!-- Date & Time To Read -->
                <div class="flex items-center justify-between mb-4 text-sm text-gray-700 dark:text-gray-300">
                    <span class="inline-flex items-center">
                        <i class="bi bi-calendar mr-2"></i>
                        <span>{{ page.date | date_to_long_string: "ordinal", "US" }}</span>
                    </span>
                    {% include read_time.html content=page.content%}
                </div>
                <!-- Date & Time To Read -->

                <hr class="mb-8 border-russet/10">
            </div>
            <!-- Header -->


            <!-- Photo -->
            <img src="{{ page.photo }}" alt="{{ page.title }}" class="shadow-sm w-full rounded-tl-3xl rounded-br-3xl">
            <!-- Photo -->

            <!-- Blog Post Body -->
            <article class="mx-auto max-w-2xl">
                <section class="lg:hidden my-4 px-4 ">
                    <hr class="mb-4 border-russet/10">
                    <h4 class="mb-2 font-semibold">Table of Contents</h4>
                    {% assign markup = page.content | remove: page.excerpt %}
                    {% include toc.html html=markup class="flex.flex-col.list-decimal.py-4."
                    item_class="my-1.text-sm.font-medium.hover:underline"%}
                    <hr class="mb-4 border-russet/10">
                </section>
                <section
                    class="prose prose-lg prose-p:text-justify dark:prose-invert prose-p:text-gray-700 prose-p:dark:text-gray-300 prose-headings:dark:text-gray-200 prose-a:text-russet prose-a:underline">
                    {{ page.content | remove: page.excerpt }}
                </section>
            </article>
            <!-- Blog Post Body -->
        </div>
    </div>

</div>